.layout-main-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: margin-left var(--layout-section-transition-duration);
    left: 0;
    right: 0;
    top:0;
}

.layout-main {
    flex: 1 1 auto;
    padding-bottom: 2rem;
}
.middleDiv{
    background-color: #f0f4f8;
    overflow: auto;
    height: calc(100vh - 5rem);
    padding: 2rem;
    border-top-left-radius: 30px;
    box-shadow: inset 0 5px 4px #0000001a;
    z-index: 995;
}
