@media screen and (min-width: 1960px) {
    .layout-main,
    .landing-wrapper {
        width: 1504px;
        margin-left: auto !important;
        margin-right: auto !important;
    z-index: 996;
    }
}

@media (min-width: 992px) {
    .layout-wrapper {
        background-color: white;
        z-index: 996;
        &.layout-overlay {
            .layout-main-container {
                margin-left: 0;
            }
            &.layout-overlay-active {
                .layout-sidebar {
                    transform: translateX(0);
                }
            }
        }

        &.layout-static {
            .layout-main-container {
            margin-left:14rem;
                margin-top:5rem;
            }

            &.layout-static-inactive {
                .layout-sidebar {
                    transform: translateX(-100%);
                    left: 0;
                }

                .layout-main-container {
                    margin-left: 0;
                }
            }
        }

        .layout-mask {
            display: none;
        }
    }
}
@media (max-width: 991px) {
    .layout-wrapper {
        background-color: white;

        .layout-main-container {
            border-top-left-radius: 50px;
            transition: margin-left 0.4s ease, width 0.4s ease;
            margin-top:5rem;
        }

        .layout-sidebar {
            transform: translateX(-100%);
            left: 0;
            top: 5rem;
            overflow: auto;
            flex: 1;
            height: 100%;
            padding: 1rem 1.5rem;
        }

        .layout-mask {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 998;
        }

        &.layout-mobile-active {
            .layout-sidebar {
                transform: translateX(0); /* Sidebar'ı ekranda göster */
            }

            .layout-main-container {
                margin-left: 14rem; /* Sidebar genişliği kadar içerik alanı sağa kayar */
            }

            .layout-mask {
                display: block; /* Maske görünür yap */
            }
        }
    }
}

